<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Admin Panel</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Roboto+Mono:300"/>
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/icons.css') }}"/>
    </head>

    <body>


    <div id="app">
        <div id="app-wrapper">
            <!-- Navigatio -->
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
                    <a class="navbar-brand" href="#" id="logo">david-de-lima.tech</a>
                </nav>
            </header>
            <!-- Navigation -->
            <main>
                <div class="text-center mt-5" id="logout">
                    <a href="{{ path('logout') }}">
                        <button class="btn btn-light-blue btn-sm">Se déconnecter</button>
                    </a>
                </div>

                <!-- Vue.js component -->
                <router-view></router-view>
            </main>

            <!-- Footer -->
            <footer class="page-footer text-center pt-3">

                <p>
                    <a href="https://www.linkedin.com/in/david-de-lima-468469131/" data-toggle="tooltip" title="Profil Linkedin">
                        <i class="fab fa-linkedin fa-2x white-text mr-2"></i>
                    </a>
                    <a href="https://github.com/buba71" data-toggle="tooltip" title="Profil Github">
                        <i class="fab fa-github-square fa-2x white-text"></i>
                    </a>
                </p>

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 flex j">© 2018 Copyright:
                    <span> David De Lima - Développeur Web Freelance - N°SIRET: 849 515 564 00011</span>
                </div>
                <!-- Copyright -->


            </footer>
            <!-- Footer -->

        </div>

    </div>

    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('build/js/admin.js') }}"></script>
    </body>
</html>
