<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}David De Lima - Entrepreneur - Développeur web Freelance php Symfony Vue.js|Nuxt.js en Bourgogne ou en télétravail{% endblock %}</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="canonical" href="https://david-de-lima.tech"/>
        <meta name="description" content="Développeur web Freelance spécialisé php, Symfony, Vue.js et Nuxt.js. Je met mes compétences à votre service pour la réalisation de vos projets web."/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite|Roboto+Mono:300"/>
        <link rel="canonical" href="https://david-de-lima.tech"/>
        {{ encore_entry_link_tags('js/app') }}
        {{ encore_entry_link_tags('css/main') }}
        {{ encore_entry_link_tags('css/icons') }}
        {% block stylesheets %}{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78369194-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-78369194-2');
        </script>
    </head>
    <body>

    <div id="app">
        <!-- Preloader -->

        <div id="preloader" v-if="preloader">
            <img src="{{ asset('images/preloader.gif') }}" alt="preload">
        </div>

        <!-- Preloader -->

        <div v-else id="app-wrapper">
        <!-- Main navigation -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
                <a class="navbar-brand" href="#" v-scroll-to="'#logo'" id="logo">david-de-lima.tech</a>

                <button id="toggler" class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mr-2" v-on:click="close">

                        <li class="nav-item ">
                            <a class="nav-link" id="blog" href="{{ path('posts') }}" ><strong>Blog</strong></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#" v-scroll-to="'#services'" >Mes services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" v-scroll-to="'#about'">Qui suis-je</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" v-scroll-to="'#skills'">Compétences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" v-scroll-to="'#developments'">Mes réalisations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" v-scroll-to="'#contact'">Contact</a>
                        </li>
                    </ul>
                    <!-- Socials links  #A modifier # -->
                    <a href="https://www.linkedin.com/in/david-de-lima-468469131/" data-toggle="tooltip" title="Profil Linkedin">
                        <i class="fab fa-linkedin fa-2x white-text mr-2"></i>
                    </a>
                    <a href="https://github.com/buba71" data-toggle="tooltip" title="Profil Github">
                        <i class="fab fa-github-square fa-2x white-text"></i>
                    </a>
                    <!-- Socials links -->
                </div>
            </nav>
        </header>
        <!--Main navigation -->

        <!-- Main Layout -->
        <main class="mt-5">
        {% block content %}
        {% endblock %}
        </main>
        <!-- Main layout -->


        <!-- Footer -->
       <footer class="page-footer text-center pt-3">

            <p>
                <a href="https://www.linkedin.com/in/david-de-lima-468469131/" data-toggle="tooltip" title="Profil Linkedin">
                    <i class="fab fa-linkedin fa-2x white-text mr-2"></i>
                </a>
                <a href="https://github.com/buba71" data-toggle="tooltip" title="Profil Github">
                    <i class="fab fa-github-square fa-2x white-text"></i>
                </a>
            </p>

           <!-- Copyright -->
           <div class="footer-copyright text-center py-3 flex j">© 2018 Copyright:
               <span> David De Lima - Développeur Web Freelance - N°SIRET: 849 515 564 00011</span>
           </div>
           <!-- Copyright -->


       </footer>
        <!-- Footer -->

    </div>
    </div>
    <!-- Javascript scripts -->
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('js/home') }}
        {{ encore_entry_script_tags('js/app') }}


    </body>
</html>
